@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom component classes*/

@layer components {

    .nav-item {
        @apply pb-1.5 px-1 border-b-1  border-transparent hover:border-red-600 transition duration-300 
    }

  .nav-link {
    @apply inline-block text-white text-base font-bold  hover:text-gray-300 hover:scale-110 transition duration-300 
  }

  .about-stats-h3{
    @apply text-3xl text-white font-bold
  }

  .about-stats-p{
    @apply text-gray-400 text-base
  }

  .language-li{
    @apply bg-gray-200 text-black px-4 py-1 rounded-full text-sm
  }
}


/* animation */

.animate__animated.animate__zoomIn,  .animate__animated.animate__slideInDown{
  --animate-duration: 2s;
}